# Pandas Library - Basics
#### Index
1. Series
2. DataFrame

In [1]:
import pandas as pd
import numpy as np

### Series

In [2]:
a = pd.Series([35.46, 78.89, 34.23, 97.12, 15.78])
a

0    35.46
1    78.89
2    34.23
3    97.12
4    15.78
dtype: float64

In [3]:
a.name = "G7 Population in millions"
a

0    35.46
1    78.89
2    34.23
3    97.12
4    15.78
Name: G7 Population in millions, dtype: float64

In [5]:
a.dtype

dtype('float64')

In [6]:
a.values

array([35.46, 78.89, 34.23, 97.12, 15.78])

In [7]:
type(a.values)

numpy.ndarray

In [8]:
a.name

'G7 Population in millions'

In [9]:
a.index

RangeIndex(start=0, stop=5, step=1)

In [10]:
# Giving manual index values
a.index = ["Brasil", 
          "Russia", 
          "India",
          "China",
          "SA"]
a

Brasil    35.46
Russia    78.89
India     34.23
China     97.12
SA        15.78
Name: G7 Population in millions, dtype: float64

In [ ]:
certificates_earned = pd.Series(
    [8, 2, 5, 6],
    index=['Tom', 'Kris', 'Ahmad', 'Beau']

#### Accessing Elements

In [13]:
a = pd.Series([35.46, 78.89, 34.23, 97.12, 15.78], 
             index = ["Brasil", "Russia", "India", "China", "SA"], name = "Brics Nations GDP")
a

Brasil    35.46
Russia    78.89
India     34.23
China     97.12
SA        15.78
Name: Brics Nations GDP, dtype: float64

In [16]:
# accessing by index
print(a[2])

34.23

In [ ]:
# accessing by index name
print(a["China"])

In [17]:
# with "iloc" attribute
print(a.iloc[4])

15.78

In [18]:
# multiple elements with index name
print(a[["India", "China"]])

India    34.23
China    97.12
Name: Brics Nations GDP, dtype: float64

In [19]:
# multiple elements with "iloc"
print(a.iloc[[0, 4]])

Brasil    35.46
SA        15.78
Name: Brics Nations GDP, dtype: float64

#### Differences between loc and iloc
loc is label-based, which means that you have to specify rows and columns based on their row and column labels. iloc is integer position-based, so you have to specify rows and columns by their integer position values (0-based integer position).